<ion-content>
	<!-- <ion-tabs tabsHighlight="true">
		<ion-tab-bar slot="bottom">
			<ion-tab-button tab="home">
				<ion-icon name="home"></ion-icon>
				<ion-label>Home</ion-label>
			</ion-tab-button>
			<ion-tab-button tab="dashboard">
				<ion-icon name="grid-outline"></ion-icon>
				<ion-label>Dashboard</ion-label>
			</ion-tab-button>

			<ion-tab-button tab="paymenthistory">
				<ion-icon name="chatbubble-outline"></ion-icon>
				<ion-label>Chat</ion-label>
			</ion-tab-button>

			<ion-tab-button tab="profile">
				<ion-icon name="people"></ion-icon>
				<ion-label>Profile</ion-label>
			</ion-tab-button>
		</ion-tab-bar>
	</ion-tabs> -->

	<ion-tabs>
		<ion-tabs tabsHighlight="true">
			<ion-tab-bar slot="bottom">
				<ion-tab-button *ngFor="let tab of currentTab" tab="{{tab.url}}">
					<ion-icon name="{{tab.icon}}"></ion-icon>
					<ion-label>{{tab.displayName}}</ion-label>
				</ion-tab-button>
			</ion-tab-bar>
		</ion-tabs>
	</ion-tabs>
</ion-content>