.heading-margin {
	margin-right: -60px !important;
}
.dashboard-order-summary-card-box {
	border-radius: 10px 5px 0 0;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.19);
}
.dashboard-order-action-card-box {
	border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.19)
}