.img-container-cls {
	height: 200px;
	text-align: center;
	color: #ffffff;
	width: 100%;
	box-shadow: 0px 12px 13px -8px rgba(143, 143, 143, 0.59);
	background: transparent linear-gradient(223deg, #7fa3fe 0%, #995cf9 100%) 0% 0% no-repeat padding-box;
	.profile-name-cls {
		font-weight: bold;
		font-size: 20px;
		margin: 0;
	}
	.profile-img-cls {
		margin: auto;
		display: block;
		padding: 20px;
		height: 150px;
		width: 150px;
		border-radius: 50%;
	}
}
.profile-items-cls {
	height: 34px;
	.profile-lbl-cls {
		font-weight: bold;
		margin: 0;
	}
	.profile-icon-cls {
		font-size: 16px;
		color: #995cf9;
		margin-right: 10px;
	}
}
