.address-top-cls {
	height: 75%;
}
.address-btn-cls {
	width: 90%;
}
.address-cls {
	color: #707070;
}
.icon-container {
	font-size: 60px;
	margin-top: 18px;
	height: 70px;
	width: 70px;
	color: #707070;
}
